{% extends "base-standard-email.html" %}
{% block content %}
    <h1>Attiva il tuo nuovo account Fasten.it!<br> Ti manca solo un click!</h1>
    <p class="important">
      Ciao {{ user_name }} {{ user_surname }}, <br> grazie per esserti registrato su Fasten.it.<br><br>
      Per attivare il tuo account e poter accedere a Fasten.it, clicca su <a href="{{activation_link_base_url}}{{ account_id }}">{{activation_link_base_url}}{{ account_id }}</a> e inserisci il seguente codice di attivazione:<br><br>

      <h2 style="align: center;">{{ activation_code }}</h2>
      <br><br>
    </p>
{% endblock %}